<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Server" value="localhost:44360"/>
		<!--<add key="Server" value="192.168.100.58:8083"/>-->
	</appSettings>
</configuration>