<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net>
		<!--定義輸出到文件中-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--定義文件存放位置-->
			<file value="log\\"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.log'"/>
			<staticLogFileName value="false"/>
			<param name="MaxSizeRollBackups" value="100"/>

			<layout type="log4net.Layout.PatternLayout">
				<!--每條日誌末尾的文字說明-->
				<!--輸出格式-->
				<!--範例：2022-03-10 16:10:00,111 [10] INFO Log4NetDemo.MainClass [(null)] - info-->
				<conversionPattern value="%newline %n記錄時間：%date %n线程ID:[%thread] %n日誌級別：  %-5level %n出錯類：%logger property: [%property{NDC}] - %n錯誤描述：%message%newline %n"/>
			</layout>

		</appender>

		<root>
			<level value="ERROR"/>
			<!--文件形式記錄日誌--> 
			<appender-ref ref="RollingLogFileAppender"/>
		</root>

	</log4net>
</configuration>